<!DOCTYPE html>
<html>
    <head>
        <title>Mixin Demo</title>
        {% block head %}{% endblock %}
    </head>
    <body>
         <a href="{% url "home-wizard-demo"%}"> Home</a>
         <br/>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
            <br/>
            <a href="{% url "demo-wizard-done" %}"> WizardConfirmationMixin Test</a>
            <br/>
            <a href="{% url "demo-wizard-confirm-all-done" %}"> WizardConfirmAllAtFinalStepMixin Test</a>
        {% endblock %}
    </body>
</html>